@model Academy.Models.CourseViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section CSS{
    <link href="~/Content/chosen.css" rel="stylesheet" />
}
@section footerJS{
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Assets/admin/bower_components/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/admin/bower_components/ckfinder/ckfinder.js"></script>
    <script>
        $(".chosen-select").chosen({
            allow_single_deselect: true,
            width: '100%',
            no_results_text: "Không tìm thấy kết quả :"
        });

        var editor1 = CKEDITOR.replace('desc', {
            customConfig: '/Assets/admin/bower_components/ckeditor/config.js',
        });
        var editor2 = CKEDITOR.replace('note', {
            customConfig: '/Assets/admin/bower_components/ckeditor/config.js',
        });
    </script>
}

<input type="hidden" id="success" value="@TempData["success"]" />
<input type="hidden" id="info" value="@TempData["info"]" />
<input type="hidden" id="warning" value="@TempData["warning"]" />
<input type="hidden" id="error" value="@TempData["error"]" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cập nhật khóa học
        </h1>
        <ol class="breadcrumb">
            <li><a href="Admin/Home/Index"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li><a href="Admin/Course/Index">Khóa học</a></li>
            <li class="active">Cập nhật khóa học</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        @using (Html.BeginForm("Edit", "Course", FormMethod.Post, new { Area = "Admin", enctype = "multipart/form-data" }))
                        {
                            <div class="col-xs-8">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên khóa học</label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "txtName" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Danh mục</label><br />
                                    @Html.DropDownListFor(model => model.CourseCategoryId, (IEnumerable<SelectListItem>)@ViewBag.categoryList, "-Chọn danh mục-", new { @class = "form-control chosen-select" })
                                    @Html.ValidationMessageFor(model => model.CourseCategoryId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Giáo viên</label><br />
                                    @Html.DropDownListFor(model => model.TeacherId, (IEnumerable<SelectListItem>)@ViewBag.teacherList, "-Chọn giáo viên-", new { @class = "form-control chosen-select" })
                                    @Html.ValidationMessageFor(model => model.TeacherId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Mô tả</label>
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "desc" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Chú thích</label>
                                    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @id = "note" })
                                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ảnh</label>
                                    <input type="file" name="LogoFile" class="form-control" />
                                    <img src="@Model.Image" style="max-width:100%;height:80px;" />
                                    @Html.ValidationMessageFor(model => model.LogoFile, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ngày bắt đầu</label>
                                    @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "form-control", @type = "datetime-local" })
                                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ngày kết thúc</label>
                                    @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "form-control", @type = "datetime-local" })
                                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Số buổi học</label>
                                    @Html.TextBoxFor(model => model.CountLesson, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.CountLesson, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Học phí</label>
                                    @Html.TextBoxFor(model => model.Price, "{0:###0}", new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Trạng thái</label>
                                    <select class="form-control" id="Status" name="Status">
                                        @if (Model.Status == 1)
                                        {
                                            <option value="1" selected>Hoạt động</option>
                                            <option value="0">Khóa</option>
                                        }
                                        else
                                        {
                                            <option value="1">Hoạt động</option>
                                            <option value="0" selected>Khóa</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                                    </div>
                                    <div class="col-lg-4">
                                        <a class="btn btn-danger" href="@Url.Action("Index", "Course", new { Area = "Admin" })">Quay lại</a>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


>

