<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/Assets/pages/sites/all/themes/aptech_news_2/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="alternate" type="application/rss+xml" title="Aptech | Lập trình viên Quốc tế | Đào tạo Công nghệ Thông tin Số 1 Việt Nam RSS" href="rss.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Đào tạo lập trình hàng đầu Việt Nam - Hệ thống Đào tạo Lập trình viên Quốc tế Aptech - 285 Đội Cẩn, HN - 43 Kim Đồng, HN - 212-214 Nguyễn Đình Chiểu, TP.HCM" />
    <meta name="keywords" content="lập trình, đào tạo lập trình, dạy lập trình, lập trình viên" />
    <meta name="generator" content="Drupal 7 (http://drupal.org)" />
    <link rel="canonical" href="index.html" />
    <link rel="shortlink" href="index.html" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="index.html" />
    <meta name="twitter:title" content="Aptech | Lập trình viên Quốc tế | Đào tạo Công nghệ Thông tin Số 1 Việt Nam" />
    <meta name="twitter:description" content="Để thất nghiệp không còn là nỗi ám ảnh của sinh viên CNTT - Aprotrain Aptech" />
    <title>Aptech | Hệ thống đào tạo Lập trình viên Quốc tế | Đào tạo Công nghệ Thông tin Số 1 Việt Nam</title>
    <link type="text/css" rel="stylesheet" href="~/Assets/pages/sites/default/files/css/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css" media="all" />
    <link type="text/css" rel="stylesheet" href="~/Assets/pages/sites/default/files/css/css_wK_6OkTymLeGE8EAA_dnsRvCJEpFx6LktC0tHt1BluE.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="~/Assets/pages/sites/default/files/css/css__-FNJP2n6vinwtyJBqzWTJxBeQ4deXcbhgMVRKrv0O0.css" media="all" />
    <link type="text/css" rel="stylesheet" href="~/Assets/pages/sites/default/files/css/css_Pu3jNmU7gQkwV4v-LYtIytf8cUFGrygQWQxqrG-enJU.css" media="all" />
    <style>
        #back-top {
            left: 40px;
        }

            #back-top span#button {
                background-color: #963134;
            }

                #back-top span#button:hover {
                    opacity: 1;
                    filter: alpha(opacity = 1);
                    background-color: #ad1b1f;
                }
    </style>
    <link type="text/css" rel="stylesheet" href="~/Assets/pages/sites/default/files/css/css_Bk0Djm14vdz2OEEBEyt2FweOC4ekwQXaNcyTQd_kSzQ.css" media="all" />
    <link href="~/Assets/pages/sites/default/files/css/css_Bk0Djm14vdz2OEEBEyt2FweOC4ekwQXaNcyTQd_kSzQ.css" rel="stylesheet" />
    <link href="~/Assets/pages/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Assets/pages/sites/default/files/css/css_TqB4Nc1Kr3-ftAGndaMvFItPLr8itqpJnyZs_Xgy7C0.css" media="all" />
    <link type="text/css" rel="stylesheet" href="~/Assets/pages/sites/default/files/css/css_LWaGw0YGcXAGekEOmuLi8rurh1GImg8vVipzAQXASIw.css" media="all" />
    <script src="~/Assets/pages/sites/all/modules/jquery_update/replace/jquery/1.9/jquery.min4b17.js?v=1.9.1"></script>
    <script src="~/Assets/pages/misc/jquery.once7839.js?v=1.2"></script>
    <script src="~/Assets/pages/misc/drupal43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/jquery_update/replace/ui/external/jquery.cookie1683.js?v=67fb34f6a866c40d0570"></script>
    <script src="~/Assets/pages/sites/all/modules/jquery_update/replace/misc/jquery.form.min97e5.js?v=2.69"></script>
    <script src="~/Assets/pages/misc/ajax9efb.js?v=7.59"></script>
    <script src="~/Assets/pages/sites/all/modules/jquery_update/js/jquery_update241d.js?v=0.0.1"></script>
    <script src="~/Assets/pages/js/bootstrap.min.js"></script>
    <script src="~/Assets/pages/sites/all/modules/ideal_comments/theme/ideal_comments43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/libraries/bootstrap/js/bootstrap.min43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/libraries/colorbox/jquery.colorbox-min43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/colorbox/js/colorbox43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/colorbox/js/colorbox_load43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/scroll_to_top/scroll_to_top43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/views_bootstrap/js/views-bootstrap-carousel43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/captcha/captcha43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/fivestar/js/fivestar43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/themes/bootstrap/js/misc/_progress9efb.js?v=7.59"></script>
    <script src="~/Assets/pages/sites/all/modules/webform/js/webform43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/views/js/base43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/google_analytics/googleanalytics43ff.js?qo1stt"></script>
    <script>(function (i, s, o, g, r, a, m) { i["GoogleAnalyticsObject"] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, "script", "../www.google-analytics.com/analytics.js", "ga"); ga("create", "UA-20788510-48", { "cookieDomain": "auto" }); ga("set", "anonymizeIp", true); ga("send", "pageview");</script>
    <script src="~/Assets/pages/sites/all/modules/views_load_more/views_load_more43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/views/js/ajax_view43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/modules/colorbox_node/colorbox_node43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/themes/aptech_news_2/js/custom43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/themes/aptech_news_2/js/jquery.movingboxes43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/themes/bootstrap/js/misc/ajax43ff.js?qo1stt"></script>
    <script src="~/Assets/pages/sites/all/themes/bootstrap/js/modules/views/js/ajax_view43ff.js?qo1stt"></script>
    <script>jQuery.extend(Drupal.settings, { "basePath": "\/", "pathPrefix": "", "ajaxPageState": { "theme": "aptech_news_2", "theme_token": "TKKH6-S6JAn4EosK77YraPiwnCD-8a14v0VZN1C3GMs", "jquery_version": "1.9", "js": { "sites\/all\/libraries\/owl-carousel\/owl.carousel.min.js": 1, "sites\/all\/modules\/facebook_comments_block\/js\/facebook_comments_block.js": 1, "sites\/all\/modules\/owlcarousel\/includes\/js\/owlcarousel.settings.js": 1, "sites\/all\/themes\/bootstrap\/js\/bootstrap.js": 1, "sites\/all\/modules\/jquery_update\/replace\/jquery\/1.9\/jquery.min.js": 1, "misc\/jquery.once.js": 1, "misc\/drupal.js": 1, "sites\/all\/modules\/jquery_update\/replace\/ui\/external\/jquery.cookie.js": 1, "sites\/all\/modules\/jquery_update\/replace\/misc\/jquery.form.min.js": 1, "misc\/ajax.js": 1, "sites\/all\/modules\/jquery_update\/js\/jquery_update.js": 1, "\/\/netdna.bootstrapcdn.com\/bootstrap\/3.0.2\/js\/bootstrap.min.js": 1, "sites\/all\/modules\/ideal_comments\/theme\/ideal_comments.js": 1, "sites\/all\/libraries\/bootstrap\/js\/bootstrap.min.js": 1, "sites\/all\/libraries\/colorbox\/jquery.colorbox-min.js": 1, "sites\/all\/modules\/colorbox\/js\/colorbox.js": 1, "sites\/all\/modules\/colorbox\/js\/colorbox_load.js": 1, "sites\/all\/modules\/scroll_to_top\/scroll_to_top.js": 1, "sites\/all\/modules\/views_bootstrap\/js\/views-bootstrap-carousel.js": 1, "sites\/all\/modules\/captcha\/captcha.js": 1, "sites\/all\/modules\/fivestar\/js\/fivestar.js": 1, "sites\/all\/themes\/bootstrap\/js\/misc\/_progress.js": 1, "sites\/all\/modules\/webform\/js\/webform.js": 1, "sites\/all\/modules\/views\/js\/base.js": 1, "sites\/all\/modules\/google_analytics\/googleanalytics.js": 1, "0": 1, "sites\/all\/modules\/views_load_more\/views_load_more.js": 1, "sites\/all\/modules\/views\/js\/ajax_view.js": 1, "sites\/all\/modules\/colorbox_node\/colorbox_node.js": 1, "sites\/all\/themes\/aptech_news_2\/js\/custom.js": 1, "sites\/all\/themes\/aptech_news_2\/js\/jquery.movingboxes.js": 1, "sites\/all\/themes\/bootstrap\/js\/misc\/ajax.js": 1, "sites\/all\/themes\/bootstrap\/js\/modules\/views\/js\/ajax_view.js": 1 }, "css": { "modules\/system\/system.base.css": 1, "sites\/all\/libraries\/owl-carousel\/owl.carousel.css": 1, "sites\/all\/libraries\/owl-carousel\/owl.theme.css": 1, "sites\/all\/libraries\/owl-carousel\/owl.transitions.css": 1, "sites\/all\/modules\/scroll_to_top\/scroll_to_top.css": 1, "sites\/all\/modules\/colorbox_node\/colorbox_node.css": 1, "sites\/all\/modules\/date\/date_api\/date.css": 1, "sites\/all\/modules\/date\/date_popup\/themes\/datepicker.1.7.css": 1, "modules\/field\/theme\/field.css": 1, "sites\/all\/modules\/ideal_comments\/theme\/ideal_comments.css": 1, "sites\/all\/modules\/views\/css\/views.css": 1, "sites\/all\/modules\/lazyloader\/lazyloader.css": 1, "sites\/all\/libraries\/bootstrap\/css\/bootstrap.min.css": 1, "sites\/all\/libraries\/bootstrap\/css\/bootstrap-theme.min.css": 1, "sites\/all\/libraries\/colorbox\/example1\/colorbox.css": 1, "sites\/all\/modules\/ctools\/css\/ctools.css": 1, "0": 1, "sites\/all\/modules\/fivestar\/css\/fivestar.css": 1, "sites\/all\/modules\/fivestar\/widgets\/basic\/basic.css": 1, "sites\/all\/modules\/webform\/css\/webform.css": 1, "sites\/all\/libraries\/fontawesome\/css\/font-awesome.css": 1, "\/\/netdna.bootstrapcdn.com\/bootstrap\/3.0.2\/css\/bootstrap.min.css": 1, "sites\/all\/themes\/bootstrap\/css\/overrides.css": 1, "sites\/all\/themes\/aptech_news_2\/css\/style.css": 1, "sites\/all\/themes\/aptech_news_2\/css\/movingboxes.css": 1, "sites\/all\/themes\/aptech_news_2\/css\/media.css": 1, "sites\/all\/themes\/aptech_news_2\/css\/thai.css": 1, "sites\/all\/themes\/aptech_news_2\/css\/style_tan.css": 1, "sites\/all\/themes\/aptech_news_2\/css\/responsive.css": 1, "sites\/all\/themes\/aptech_news_2\/css\/font.css": 1 } }, "colorbox": { "opacity": "0.85", "current": "{current} of {total}", "previous": "\u00ab Prev", "next": "Next \u00bb", "close": "Close", "maxWidth": "98%", "maxHeight": "98%", "fixed": true, "mobiledetect": true, "mobiledevicewidth": "480px" }, "scroll_to_top": { "label": "L\u00ean \u0111\u1ea7u" }, "urlIsAjaxTrusted": { "\/search\/node": true, "\/system\/ajax": true, "\/": true, "\/views\/ajax": true }, "viewsBootstrap": { "carousel": { "1": { "id": 1, "name": "slidewshow_front", "attributes": { "interval": 5000, "pause": false } } } }, "owlcarousel": { "owl-carousel-block8": { "settings": { "items": 1, "itemsDesktop": ["1199", 1], "itemsDesktopSmall": ["979", 1], "itemsTablet": ["768", 1], "itemsTabletSmall": ["0", 0], "itemsMobile": ["479", 1], "singleItem": false, "itemsScaleUp": false, "slideSpeed": 200, "paginationSpeed": 800, "rewindSpeed": 1000, "autoPlay": "5000", "stopOnHover": true, "navigation": true, "navigationText": ["prev", "next"], "rewindNav": true, "scrollPerPage": false, "pagination": true, "paginationNumbers": false, "responsive": true, "responsiveRefreshRate": 200, "baseClass": "owl-carousel", "theme": "owl-theme", "lazyLoad": false, "lazyFollow": true, "lazyEffect": "fadeIn", "autoHeight": false, "jsonPath": false, "jsonSuccess": false, "dragBeforeAnimFinish": true, "mouseDrag": true, "touchDrag": true, "addClassActive": false, "transitionStyle": false }, "views": { "ajax_pagination": 0 } }, "owl-carousel-block_18": { "settings": { "items": 3, "itemsDesktop": ["1199", 3], "itemsDesktopSmall": ["979", 3], "itemsTablet": ["768", 2], "itemsTabletSmall": ["0", 0], "itemsMobile": ["479", 1], "singleItem": false, "itemsScaleUp": false, "slideSpeed": 200, "paginationSpeed": 800, "rewindSpeed": 1000, "autoPlay": "5000", "stopOnHover": false, "navigation": true, "navigationText": ["prev", "next"], "rewindNav": true, "scrollPerPage": false, "pagination": true, "paginationNumbers": false, "responsive": true, "responsiveRefreshRate": 200, "baseClass": "owl-carousel", "theme": "owl-theme", "lazyLoad": false, "lazyFollow": true, "lazyEffect": "fadeIn", "autoHeight": false, "jsonPath": false, "jsonSuccess": false, "dragBeforeAnimFinish": true, "mouseDrag": true, "touchDrag": true, "addClassActive": false, "transitionStyle": false }, "views": { "ajax_pagination": 0 } }, "owl-carousel-block_28": { "settings": { "items": 2, "itemsDesktop": ["1199", 2], "itemsDesktopSmall": ["979", 2], "itemsTablet": ["768", 2], "itemsTabletSmall": ["0", 0], "itemsMobile": ["479", 1], "singleItem": false, "itemsScaleUp": false, "slideSpeed": 200, "paginationSpeed": 800, "rewindSpeed": 1000, "autoPlay": "5000", "stopOnHover": true, "navigation": true, "navigationText": ["prev", "next"], "rewindNav": true, "scrollPerPage": false, "pagination": true, "paginationNumbers": false, "responsive": true, "responsiveRefreshRate": 200, "baseClass": "owl-carousel", "theme": "owl-theme", "lazyLoad": true, "lazyFollow": true, "lazyEffect": "fadeIn", "autoHeight": true, "jsonPath": false, "jsonSuccess": false, "dragBeforeAnimFinish": true, "mouseDrag": true, "touchDrag": true, "addClassActive": false, "transitionStyle": false }, "views": { "ajax_pagination": 0 } }, "owl-carousel-block_38": { "settings": { "items": 2, "itemsDesktop": ["1199", 2], "itemsDesktopSmall": ["979", 2], "itemsTablet": ["768", 2], "itemsTabletSmall": ["0", 0], "itemsMobile": ["479", 1], "singleItem": false, "itemsScaleUp": false, "slideSpeed": 200, "paginationSpeed": 800, "rewindSpeed": 1000, "autoPlay": "5000", "stopOnHover": true, "navigation": true, "navigationText": ["prev", "next"], "rewindNav": true, "scrollPerPage": false, "pagination": true, "paginationNumbers": false, "responsive": true, "responsiveRefreshRate": 200, "baseClass": "owl-carousel", "theme": "owl-theme", "lazyLoad": true, "lazyFollow": true, "lazyEffect": "fadeIn", "autoHeight": true, "jsonPath": false, "jsonSuccess": false, "dragBeforeAnimFinish": true, "mouseDrag": true, "touchDrag": true, "addClassActive": false, "transitionStyle": false }, "views": { "ajax_pagination": 0 } }, "owl-carousel-block_48": { "settings": { "items": 3, "itemsDesktop": ["1199", 3], "itemsDesktopSmall": ["979", 3], "itemsTablet": ["768", 2], "itemsTabletSmall": ["0", 0], "itemsMobile": ["479", 1], "singleItem": false, "itemsScaleUp": false, "slideSpeed": 200, "paginationSpeed": 800, "rewindSpeed": 1000, "autoPlay": "5000", "stopOnHover": false, "navigation": true, "navigationText": ["prev", "next"], "rewindNav": true, "scrollPerPage": false, "pagination": true, "paginationNumbers": false, "responsive": true, "responsiveRefreshRate": 200, "baseClass": "owl-carousel", "theme": "owl-theme", "lazyLoad": false, "lazyFollow": true, "lazyEffect": "fadeIn", "autoHeight": false, "jsonPath": false, "jsonSuccess": false, "dragBeforeAnimFinish": true, "mouseDrag": true, "touchDrag": true, "addClassActive": false, "transitionStyle": false }, "views": { "ajax_pagination": 0 } }, "owl-carousel-block_58": { "settings": { "items": 4, "itemsDesktop": ["1199", 4], "itemsDesktopSmall": ["979", 3], "itemsTablet": ["768", 2], "itemsTabletSmall": ["0", 0], "itemsMobile": ["479", 1], "singleItem": false, "itemsScaleUp": false, "slideSpeed": 200, "paginationSpeed": 800, "rewindSpeed": 1000, "autoPlay": "5000", "stopOnHover": false, "navigation": true, "navigationText": ["prev", "next"], "rewindNav": true, "scrollPerPage": false, "pagination": true, "paginationNumbers": false, "responsive": true, "responsiveRefreshRate": 200, "baseClass": "owl-carousel", "theme": "owl-theme", "lazyLoad": false, "lazyFollow": true, "lazyEffect": "fadeIn", "autoHeight": false, "jsonPath": false, "jsonSuccess": false, "dragBeforeAnimFinish": true, "mouseDrag": true, "touchDrag": true, "addClassActive": false, "transitionStyle": false }, "views": { "ajax_pagination": 0 } }, "owl-carousel-block_122": { "settings": { "items": 3, "itemsDesktop": ["1199", 3, "1199", 3, "1199", 3, "1199", 3, "1199", 3, "1199", 3, "1199", 3, "1199", 3, "1199", 3, "1199", 3], "itemsDesktopSmall": ["979", 3, "979", 3, "979", 3, "979", 3, "979", 3, "979", 3, "979", 3, "979", 3, "979", 3, "979", 3], "itemsTablet": ["768", 2, "768", 2, "768", 2, "768", 2, "768", 2, "768", 2, "768", 2, "768", 2, "768", 2, "768", 2], "itemsTabletSmall": ["0", 0, "0", 0, "0", 0, "0", 0, "0", 0, "0", 0, "0", 0, "0", 0, "0", 0, "0", 0], "itemsMobile": ["479", 1, "479", 1, "479", 1, "479", 1, "479", 1, "479", 1, "479", 1, "479", 1, "479", 1, "479", 1], "singleItem": false, "itemsScaleUp": false, "slideSpeed": 200, "paginationSpeed": 800, "rewindSpeed": 1000, "autoPlay": "5000", "stopOnHover": false, "navigation": true, "navigationText": ["prev", "next", "prev", "next", "prev", "next", "prev", "next", "prev", "next", "prev", "next", "prev", "next", "prev", "next", "prev", "next", "prev", "next"], "rewindNav": true, "scrollPerPage": false, "pagination": false, "paginationNumbers": false, "responsive": true, "responsiveRefreshRate": 200, "baseClass": "owl-carousel", "theme": "owl-theme", "lazyLoad": true, "lazyFollow": true, "lazyEffect": "fadeIn", "autoHeight": false, "jsonPath": false, "jsonSuccess": false, "dragBeforeAnimFinish": true, "mouseDrag": true, "touchDrag": true, "addClassActive": true, "transitionStyle": false }, "views": { "ajax_pagination": 0 } } }, "ajax": { "edit-webform-ajax-submit-5352": { "callback": "webform_ajax_callback", "wrapper": "webform-ajax-wrapper-5352", "progress": { "message": "", "type": "throbber" }, "event": "click", "url": "\/system\/ajax", "submit": { "_triggering_element_name": "op", "_triggering_element_value": "Submit" } } }, "views": { "ajax_path": "\/views\/ajax", "ajaxViews": { "views_dom_id:c7714fd12665160d5620b4731b3eac3f": { "view_name": "block_front", "view_display_id": "block_7", "view_args": "", "view_path": "node", "view_base_path": "block-front", "view_dom_id": "c7714fd12665160d5620b4731b3eac3f", "pager_element": 0 }, "views_dom_id:f9919f0ea000929e01f768473b72883e": { "view_name": "block_front", "view_display_id": "block_6", "view_args": "", "view_path": "node", "view_base_path": "block-front", "view_dom_id": "f9919f0ea000929e01f768473b72883e", "pager_element": 0 }, "views_dom_id:b3119cfb81785d9f50f07a7d2bb71e61": { "view_name": "content_function", "view_display_id": "block_11", "view_args": "15\/6376", "view_path": "node", "view_base_path": "taxonomy\/term\/%", "view_dom_id": "b3119cfb81785d9f50f07a7d2bb71e61", "pager_element": 0 }, "views_dom_id:6cb5b7cbfd510c3d12d0ed82b644db57": { "view_name": "content_function", "view_display_id": "block_11", "view_args": "15\/6375", "view_path": "node", "view_base_path": "taxonomy\/term\/%", "view_dom_id": "6cb5b7cbfd510c3d12d0ed82b644db57", "pager_element": 0 }, "views_dom_id:e38973e776d4983344c9d5cd65412c91": { "view_name": "content_function", "view_display_id": "block_11", "view_args": "14\/6373", "view_path": "node", "view_base_path": "taxonomy\/term\/%", "view_dom_id": "e38973e776d4983344c9d5cd65412c91", "pager_element": 0 }, "views_dom_id:facc66bc3f5eeb9cc752a851cb8d0f90": { "view_name": "content_function", "view_display_id": "block_11", "view_args": "14\/6366", "view_path": "node", "view_base_path": "taxonomy\/term\/%", "view_dom_id": "facc66bc3f5eeb9cc752a851cb8d0f90", "pager_element": 0 }, "views_dom_id:3eb141a0b94fa373c86f57fd6e284c28": { "view_name": "content_function", "view_display_id": "block_11", "view_args": "14\/6362", "view_path": "node", "view_base_path": "taxonomy\/term\/%", "view_dom_id": "3eb141a0b94fa373c86f57fd6e284c28", "pager_element": 0 }, "views_dom_id:56e7017c491fe6e4356b9bf2a57d1727": { "view_name": "content_function", "view_display_id": "block_11", "view_args": "14\/6359", "view_path": "node", "view_base_path": "taxonomy\/term\/%", "view_dom_id": "56e7017c491fe6e4356b9bf2a57d1727", "pager_element": 0 }, "views_dom_id:935626afecff95204e6d54045f03cd8e": { "view_name": "content_function", "view_display_id": "block_11", "view_args": "15\/6358", "view_path": "node", "view_base_path": "taxonomy\/term\/%", "view_dom_id": "935626afecff95204e6d54045f03cd8e", "pager_element": 0 }, "views_dom_id:e326f70efc595cd6dbd1b7e7bef39936": { "view_name": "content_function", "view_display_id": "block_11", "view_args": "15\/6357", "view_path": "node", "view_base_path": "taxonomy\/term\/%", "view_dom_id": "e326f70efc595cd6dbd1b7e7bef39936", "pager_element": 0 } } }, "googleanalytics": { "trackOutbound": 1, "trackMailto": 1, "trackDownload": 1, "trackDownloadExtensions": "7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip" }, "facebook_comments_block": { "facebook_settings": { "facebook_app_id": "1097170630376369", "facebook_app_id_script": "\u0026appId=1097170630376369" } }, "colorbox_node": { "width": "600px", "height": "600px" }, "bootstrap": { "anchorsFix": 1, "anchorsSmoothScrolling": 1, "popoverEnabled": 1, "popoverOptions": { "animation": 1, "html": 0, "placement": "right", "selector": "", "trigger": "click", "title": "", "content": "", "delay": 0, "container": "body" }, "tooltipEnabled": 1, "tooltipOptions": { "animation": 1, "html": 0, "placement": "auto left", "selector": "", "trigger": "hover focus", "delay": 0, "container": "body" } } });</script>
    <script src="~/Assets/pages/js/autoads-maxlead-widget9aea.js"></script>
    <script src="~/Assets/admin/libs/Toastr/toastr.js"></script>
    <script src="~/Assets/admin/js/custemToastr.js"></script>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NV98LLF');
    </script>
    <style>
        #fb-root > div.fb_dialog {
            right: initial !important;
            left: 18pt;
            z-index: 9999999 !important;
        }

        .fb-customerchat.fb_invisible_flow.fb_iframe_widget iframe {
            right: initial !important;
            left: 18pt !important;
        }

        .fb_dialog .fb_dialog_content iframe {
            left: 18pt;
        }

        iframe.fb_customer_chat_bounce_in_v2 {
            left: 18pt !important;
        }

        iframe.fb_customer_chat_bounce_out_v2 {
            left: 18pt !important;
        }
    </style>
</head>
<body class="html front not-logged-in one-sidebar sidebar-second page-node">
    <div id="skip-link">
        <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <header id="navbar" role="banner" class="section">
        <div class="container header-top header">
            <div class="row header-top">
                <div class="navbar-header col-sm-3"> <a class="logo navbar-btn pull-left" href="/" title="Trang chủ"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/logo.png" alt="Trang chủ" /> </a></div>
                <div class="col-sm-9">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <div class="navbar-collapse collapse row">
                        <div class="main-menu">
                            <nav role="navigation">
                                <ul class="menu nav navbar-nav">
                                    <li class="first leaf ">
                                        <a href="/" title="" class=" @if(ViewBag.ActiveHome=="active")
                                    { @ViewBag.ActiveHome }">Trang chủ</a>
                                    </li>
                                    <li class="expanded dropdown -nav">
                                    <li class="first leaf ">
                                        <a href="/Home/About" data-target="/Home/About" class=" @if(ViewBag.ActiveAbout=="active")
                                    { @ViewBag.ActiveAbout}">Giới thiệu</a>
                                    </li>
                                    <li class="first leaf ">
                                        <a href="/Home/ListCourse" data-target="/Home/ListCourse" class=" @if(ViewBag.ActiveListCourse=="active")
                                    { @ViewBag.ActiveListCourse}">Khóa học</a>
                                    </li>
                                    <li class="first leaf">
                                        <a href="/Home/Course" class="mobile-change @if(ViewBag.ActiveCourse=="active")
                                    { @ViewBag.ActiveCourse }" data-target="#">Chương trình Đào tạo</a>
                                    </li>
                                    <li class="first leaf ">
                                        <a href="/Home/Admissions" class=" @if(ViewBag.ActiveAdmissions=="active")
                                    { @ViewBag.ActiveAdmissions }">Tuyển sinh</a>
                                    </li>
                                    <li class="first leaf">
                                        <a href="/Home/News" class=" @if(ViewBag.ActiveNews=="active")
                                    { @ViewBag.ActiveNews }">Tin tức</a>
                                    </li>
                                    <li class="last leaf ">
                                        <a href="/Home/Contact" title="" class=" @if(ViewBag.ActiveContact=="active")
                                    { @ViewBag.ActiveContact }">Liên hệ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="region region-footer">
                    <section id="block-block-23" class="block block-block col-xs-12 col-sm-3 footer-col address clearfix">
                        <div class="block-content">
                            <p><strong>TP.HCM</strong></p>
                            <p>&nbsp;</p>
                            <p>212-214 Nguyễn Đình Chiểu, Q.3, TP.HCM</p>
                            <p>Tel: 1800 1779</p>
                            <p>E-mail: <a href="cdn-cgi/l/email-protection.html#fc9d8c88999f94cebc9d8c8e93888e9d9592d29f9391"><span class="__cf_email__" data-cfemail="7011000415131842301100021f040211191e5e131f1d">[email&#160;protected]</span></a></p>
                            <p>-------------------</p>
                            <p><strong>HÀ NỘI</strong></p>
                            <p>&nbsp;</p>
                            <p>54 - 56 Lê Thanh Nghị, Bách Khoa, Q. Hai Bà Trưng, Hà Nội</p>
                            <p>Tel: 1800 1147</p>
                            <p>E-mail: <a href="cdn-cgi/l/email-protection.html#1475646071777c27547564667b6066757d7a3a777b79"><span class="__cf_email__" data-cfemail="5938292d3c3a316a1938292b362d2b383037773a3634">[email&#160;protected]</span></a></p>
                            <p>&nbsp;</p>
                            <p>285 Đội Cấn, Q. Ba Đình, Hà Nội</p>
                            <p>Tel: 1800 1141</p>
                            <p>E-mail: <a href="cdn-cgi/l/email-protection.html#1e7f6e6a7b7d762f5e7f6e6c716a6c7f7770307d7173"><span class="__cf_email__" data-cfemail="1170616574727920517061637e656370787f3f727e7c">[email&#160;protected]</span></a></p>
                            <p>&nbsp;</p>
                        </div>
                    </section>
                    <section id="block-block-24" class="block block-block col-xs-12 col-sm-3 footer-col menu clearfix">
                        <h2 class="block-title">Danh mục</h2>
                        <div class="block-content">
                            <ul>
                                <li><a href="index.html">Trang chủ</a></li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Chương trình đào tạo</a></li>
                                <li><a href="#">Tuyển sinh</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Triển lãm</a></li>
                                <li><a href="contact.html">Liên hệ</a></li>
                            </ul>
                        </div>
                    </section>
                    <section id="block-block-25" class="block block-block col-xs-12 col-sm-3 footer-col follow clearfix">
                        <h2 class="block-title">Theo dõi aptech</h2>
                        <div class="block-content">
                            <p><a href="https://www.facebook.com/aptechvietnam.com.vn/" target="_blank"><img src="~/Assets/pages/sites/default/files/fb-icon.png" width="38" height="38"></a> <a href="https://www.youtube.com/aprotrainaptech" target="_blank"><img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/youtube_icon.png" width="38" height="38"></a>&nbsp;</p>
                        </div>
                    </section>
                    <section id="block-block-34" class="block block-block col-xs-12 col-sm-3 footer-col contact clearfix">
                        <h2 class="block-title">VỀ APTECH</h2>
                        <div class="block-content">
                            <p>Với kinh nghiệm 34 năm trong lĩnh vực đào tạo Công Nghệ Thông Tin (CNTT), Aptech chúng tôi tự hào là một công ty đào tạo nghề nghiệp hàng đầu thế giới có trụ sở tại Mumbai, Ấn Độ. Có mặt trên hơn 40 quốc gia với hơn 1.350 cơ sở, Aptech đã đào tạo cho hơn 6,8 triệu học viên trên toàn thế giới và hơn 100.000 lập trình viên tại Việt Nam.</p>
                            <p>"Chúng tôi không chạy theo công nghệ. Aptech luôn đón đầu công nghệ"</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </footer>
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="region region-copyright">
                    <section id="block-block-6" class="block block-block text-center col-sm-12 clearfix">
                        <div class="block-content"> Copyright © 2016. APTECH - News All rights reserved</div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
