@model Academy.Models.FeedBackViewModel
@{
    ViewBag.Title = "About";
    var lstTeachers = (List<Academy.Data.TeacherView>)ViewBag.ListTeachers;
}

<div class="highlighted">
    <div class="container block-about-us">
        <div class="row">
            <div class="col-sm-6">
                <div class="block-about-us-content">
                    <div class="body_caunoi">
                        <p style="text-align: center;">Hãy theo đuổi đam mê, thành công sẽ theo đuổi bạn</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/Gioi-thieu_slogan.jpg" /></div>
        </div>
    </div>
    <div class="region region-highlighted">
        <section id="block-custom-about-us" class="block block-custom node_about_us clearfix">
            <div class="container">
                <h2 class="block-title">Hệ thống Đào tạo Lập trình viên Quốc tế APTECH</h2>
                <div class="block-content">
                    <div class="row content-about-us">
                        <div class="col-sm-12">
                            <h3>APTECH Toàn cầu</h3>
                            <p>APTECH là Tập đoàn có quy mô toàn cầu, đi tiên phong trong lĩnh vực đào tạo Công nghệ Thông tin (CNTT). Chúng tôi đã có hơn 34 năm kinh nghiệm triển khai chương trình đào tạo Lập trình viên Quốc tế tại hơn 40 Quốc gia với 1.350 cơ sở đào tạo và 6,8 triệu sinh viên.</p>
                            <p>Các cơ sở đào tạo của APTECH đều tuân thủ thống nhất quy trình đào tạo được cấp chứng chỉ ISO 9001. Sinh viên của APTECH được công nhận rộng rãi ở những nước có nền công nghệ tiên tiến. Năm 1997 APTECH được trao giải The Global Growth Company Award của Diễn đàn Kinh tế Thế giới. Năm 2000, APTECH được tạp chí FORBES xếp trong Top 300 công ty có tốc độ tăng trưởng và hiệu quả hoạt động tốt nhất. Trong nhiều năm liên tiếp, APTECH đạt danh hiệu Đơn vị đào tạo CNTT số 1 tại các nước có nền công nghệ phát triển nhanh như Ấn Độ, Trung Quốc.</p>
                            <h3>APTECH Việt Nam</h3>
                            <p>Có mặt tại Việt Nam từ năm 1999, APTECH là địa chỉ học tập uy tín cho các bạn trẻ Việt Nam, trong đó chủ yếu là sinh viên và học sinh trung học phổ thông. Đến nay, Tập đoàn APTECH đã đào tạo được hơn 100.000 Lập trình viên Quốc tế cho ngành CNTT Việt Nam. Trong 17 năm liên tiếp (từ 2003-2019), APTECH vinh dự được Hội Tin học TP. Hồ Chí Minh và Tạp chí PC World trao cúp Đơn vị đào tạo CNTT số 1 Việt Nam và được Hiệp hội Phần mềm Việt Nam Vinasa công nhận là đơn vị đào tạo CNTT xuất sắc nhất.</p>
                            <p>Ngoài ra, chúng tôi còn tham gia đào tạo, phát triển nguồn nhân lực cho các tổ chức nhà nước và doanh nghiệp như: Bộ Giáo dục và Đào tạo, Bộ Thông tin và Truyền thông, các Tập đoàn, các trường Đại học lớn tại Việt Nam.</p>
                            <h4>Các chuyên ngành đào tạo chính:</h4>
                            <ul>
                                <li>Lập trình viên Quốc tế (APTECH Certified Computer Professional)</li>
                                <li>Kỹ thuật viên phần mềm ITT (Information Technology Technican)</li>
                                <li>Chuyên gia Hệ thống Thông tin &nbsp;ACNA (APTECH Certified Network Administrator)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="block-block-10" class="block block-block loi_ich clearfix">
            <div class="container">
                <h2 class="block-title">LỢI ÍCH VƯỢT TRỘI KHÓA LẬP TRÌNH VIÊN QUỐC TẾ</h2>
                <h3>TẠI ĐƠN VỊ ĐÀO TẠO CNTT SỐ 1 VIỆT NAM</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/loi_ich1.png" /></div>
                        <div class="title"> Chương trình đào tạo<br /> <span>theo chuẩn quốc tế</span></div>
                        <div class="des"> Giúp sinh viên có cơ hội tiếp thu, học hỏi lượng kiến thức chất lượng về công nghệ được công nhận tại nhiều quốc gia trên thế giới.</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/loi_ich2.png" /></div>
                        <div class="title"> Thời gian đào tạo ngắn<br /> <span>Chỉ trong 2,5 năm</span></div>
                        <div class="des"> Với thời lượng đào tạo được tối giản chỉ tập trung vào các môn chuyên ngành, sinh viên Aptech sau 2,5 năm học tập đã có thể đi làm ngay.</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/loi_ich3.png" /></div>
                        <div class="title"> Chương trình Liên thông<br /> <span>Đại học Quốc tế</span></div>
                        <div class="des"> Ngoài môi trường giảng dạy quốc tế, chúng tôi còn giúp bạn Liên thông lên các trường ĐH Quốc tế như RMIT, AUT, BROOKES...</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/loi_ich4.png" /></div>
                        <div class="title"> Sinh viên ra trường<br /> <span>95% có việc làm ngay</span></div>
                        <div class="des"> Aptech thường xuyên liên kết với các doanh nghiệp về Công nghệ Thông tin, cam kết sinh viên ra trường sẽ có việc làm, nơi thực tập phù hợp.</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="block-views-slideshow-block-1" class="block block-views block_uu_diem clearfix">
            <div class="container">
                <h2 class="block-title">6.8 triệu học viên trên Thế giới đã chọn APTECH, Vì sao?</h2>
                <h3></h3>
                <div class="row">
                    <div class="view view-slideshow view-id-slideshow view-display-id-block_1 view-dom-id-71bd4fdf3d97bbb4f0802af7a98cead6">
                        <div class="view-content">
                            <div class="owl-carousel-block_18">
                                <div class="item-0 item-odd">
                                    <div class="views-field views-field-field-slider-images">
                                        <div class="field-content"><img typeof="foaf:Image" src="~/Assets/pages/sites/default/files/styles/265_175/public/chuong_trinh_hoc_chu_trong_thuc_hanhbdb9.jpg?itok=jjDaHJ0Y" width="265" height="175" alt="" /></div>
                                    </div>
                                    <div class="views-field views-field-nothing">
                                        <span class="field-content">
                                            <div class="uu_diem_row">
                                                <div class="title">Chương trình học</div>
                                                <div class="row_2">Chú trọng thực hành</div>
                                                <div class="body_caunoi">
                                                    <p style="text-align: justify;">Với chương trình học chú trọng thực hành, sinh viên APTECH luôn được tạo điều kiện để thực hiện các dự án thực tế một cách thành thạo, chuyên nghiệp nhất.</p>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="item-1 item-even">
                                    <div class="views-field views-field-field-slider-images">
                                        <div class="field-content"><img typeof="foaf:Image" src="~/Assets/pages/sites/default/files/styles/265_175/public/doi_ngu_giang_vien_than_thien_nhiet_tinh5942.jpg?itok=NP-hk2Ku" width="265" height="175" alt="" /></div>
                                    </div>
                                    <div class="views-field views-field-nothing">
                                        <span class="field-content">
                                            <div class="uu_diem_row">
                                                <div class="title">Đội ngũ giảng viên</div>
                                                <div class="row_2">Thân thiện, nhiệt tình</div>
                                                <div class="body_caunoi">
                                                    <p style="text-align: justify;">Giảng viên là những Chuyên gia hàng đầu Việt Nam và luôn đồng hành cùng sinh viên APTECH trong quá trình học tập và phát triển.</p>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="item-2 item-odd">
                                    <div class="views-field views-field-field-slider-images">
                                        <div class="field-content"><img typeof="foaf:Image" src="~/Assets/pages/sites/default/files/styles/265_175/public/co-so-vat-chat-theo-chuan-quoc-tebd74.jpg?itok=pwqtFqW5" width="265" height="175" alt="" /></div>
                                    </div>
                                    <div class="views-field views-field-nothing">
                                        <span class="field-content">
                                            <div class="uu_diem_row">
                                                <div class="title">Cơ sở vật chất</div>
                                                <div class="row_2">theo chuẩn Quốc tế</div>
                                                <div class="body_caunoi">
                                                    <p style="text-align: justify;">Với tiêu chuẩn đào tạo quốc tế, APTECH luôn đảm bảo cho học viên không gian học tập, nghiêm cứu sáng tạo và hiện đại nhất.</p>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="block-views-slideshow-block-2" class="block block-views chuyen_gia clearfix">
            <div class="container">
                <h2 class="block-title"><a href="doi-ngu-giang-vien.html" class="block-title-link">Đội ngũ Giảng viên là những Chuyên gia CNTT hàng đầu</a></h2>
                <div class="row">
                    <div class="view view-slideshow view-id-slideshow view-display-id-block_2 view-dom-id-6559965efe20eb50a04f1a68c29d0a9d">
                        <div class="view-content">
                            <div class="owl-carousel-block_28">

                                @foreach (var item in lstTeachers)
                                {
                                    <div class="item-0 item-odd">
                                        <div class="views-field views-field-title"> <span class="field-content"><a href="Giang-vien-Le-Thanh-Son.html" class="colorbox-node" data-inner-width="800" data-inner-height="600">Giảng viên @item.Name</a></span></div>
                                        <div class="views-field views-field-field-speak">
                                            <div class="field-content">Để thành công trong ngành CNTT, cần luôn giữ lửa đam mê, biết vượt qua giới hạn của bản thân, chấp nhận thách thức và đứng lên khi thất bại.</div>
                                        </div>
                                        <div class="views-field views-field-field-news-image">
                                            <div class="field-content"><a href="Giang-vien-Le-Thanh-Son1cdf.html?width=800&amp;height=600" class="colorbox-node"><img typeof="foaf:Image" src="@item.Avatar" width="175" height="295" alt="" /></a></div>
                                        </div>
                                        <div class="views-field views-field-field-doingu-chucvu">
                                            <span class="views-label views-label-field-doingu-chucvu">Chuyên môn: </span>
                                            @foreach (var c in item.courses)
                                            {
                                                <div class="field-content">@c.Name,</div>
                                            }

                                        </div>
                                        <div class="views-field views-field-field-doingu-bangcap">
                                            <div class="field-content">
                                                <p>@item.Description</p>

                                            </div>
                                        </div>

                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="block-block-11" class="block block-block button clearfix">
            <div class="container">
                <h2 class="block-title">Bạn có muốn học cùng chuyên gia CNTT hàng đầu?</h2>
                <div class="row">
                    <div class="col-sm-12"><a href="#block-webform-client-block-5352" class="button_i_want">Tôi muốn</a></div>
                </div>
            </div>
        </section>
        <section id="block-views-slideshow-block-3" class="block block-views tron_niem_tin clearfix">
            <div class="container">
                <h2 class="block-title">Xã hội Công nhận</h2>
                <h3>CÁC GIẢI THƯỞNG CỦA HỆ THỐNG ĐÀO TẠO LẬP TRÌNH VIÊN QUỐC TẾ APTECH</h3>
                <div class="row giai_thuong">
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/badge-1.png" /></div>
                        <div class="title"> <span>Cúp Trường đào tạo CNTT Số 1 Việt Nam </span><br /> do Bộ Thông tin và Truyền thông trao</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/badge-2.png" /></div>
                        <div class="title"> <span>Cúp Đơn vị Đào tạo CNTT Xuất sắc Nhất Việt Nam</span><br /> trong 14 năm liên tiếp (1999-2020) do Hội Tin học TP. HCM trao</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/badge-3.png" /></div>
                        <div class="title"> <span>Cúp Đơn vị Đào tạo Nhân lực CNTT Số 1 Việt Nam</span><br /> do Hiệp hội phần mềm Việt Nam trao</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/badge-4.png" /></div>
                        <div class="title"> <span>Cúp Tinh hoa Việt Nam</span><br /> do Hiệp hội Doanh nghiệp Việt Nam trao</div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
<div class="front_content_1">
    <div class="container">
        <div class="row">
            <div class="region region-front-content-1">
                <section id="block-block-22" class="block block-block col-sm-12 ads clearfix">
                    <div class="block-content">
                        <p><a href="aptechplus.aptech-news.html"></a></p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="front_content_2">
    <div class="region region-front-content-2">
        <section id="block-webform-client-block-5352" class="block block-webform form_register col-sm-12 clearfix">
            <div class="container">
                <h2 class="block-title">ĐĂNG KÝ NHẬN TƯ VẤN TỪ APTECH</h2>
                <h3>Bạn vui lòng điền đầy đủ thông tin và click đăng ký. APTECH sẽ liên lạc với bạn trong thời gian sớm nhất</h3>
                <div class="row">
                    <div id="webform-ajax-wrapper-5352">
                        <form class="webform-client-form webform-client-form-5352" action="/Home/FeedBack" method="post" id="webform-client-form-5352" accept-charset="UTF-8">
                            <div>
                                <div class="form-item webform-component webform-component-textfield webform-component--name"> <label for="edit-submitted-name">Họ và tên <span class="form-required" title="This field is required.">*</span></label>@Html.TextBoxFor(model => model.Name, new { @required = "required", @class = "form-control form-text required", @type = "text", id = "edit-submitted-name", size = "60", maxlength = "128" })</div>
                                <div class="form-item webform-component webform-component-email webform-component--e-mail"> <label for="edit-submitted-e-mail">E-mail <span class="form-required" title="This field is required.">*</span></label> @Html.TextBoxFor(model => model.Email, new { @required = "required", @class = "form-control form-text required", @type = "text", id = "edit-submitted-email", size = "60", maxlength = "128" })</div>
                                <div class="form-item webform-component webform-component-textfield webform-component--phone"> <label for="edit-submitted-phone">Điện thoại <span class="form-required" title="This field is required.">*</span></label> @Html.TextBoxFor(model => model.Phone, new { @required = "required", @class = "form-control form-text required", @type = "number", id = "edit-submitted-email", size = "60", maxlength = "128" })</div>
                                <div class="form-item webform-component webform-component-radios webform-component--location">
                                    <label for="edit-submitted-location">Vị trí <span class="form-required" title="This field is required.">*</span></label>
                                    <div id="edit-submitted-location" class="form-radios">
                                        <div class="form-type-radio form-item-submitted-location form-item radio"> <input required="required" type="radio" id="edit-submitted-location-1" name="submitted[location]" value="1" class="form-radio" /> <label for="edit-submitted-location-1">54 Lê Thanh Nghị, Bách Khoa, Hà Nội </label></div>
                                        <div class="form-type-radio form-item-submitted-location form-item radio"> <input required="required" type="radio" id="edit-submitted-location-2" name="submitted[location]" value="2" class="form-radio" /> <label for="edit-submitted-location-2">285 Đội Cấn, Ba Đình, Hà Nội </label></div>
                                        <div class="form-type-radio form-item-submitted-location form-item radio"> <input required="required" type="radio" id="edit-submitted-location-3" name="submitted[location]" value="3" class="form-radio" /> <label for="edit-submitted-location-3">212-214 Nguyễn Đình Chiểu, Q.3, TPHCM </label></div>
                                    </div>
                                </div>
                                <fieldset class="captcha panel panel-default form-wrapper">

                                    <div class="panel-body">
                                        <div class="form-type-textfield form-item-captcha-response form-item form-group" data-toggle="tooltip" title="Fill in the blank."> <label for="edit-captcha-response">Nhập thông tin cần tư vấn<span class="form-required" title="This field is required.">*</span></label> @Html.TextBoxFor(model => model.Description, new { @class = "form-control form-text", @type = "text", id = "edit-submitted-desc", size = "50", maxlength = "500" })</div>
                                    </div>
                                </fieldset>
                                <button class="webform-submit button-primary btn btn-primary form-submit" value="Submit" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<script src="~/Assets/pages/js/email-decode.min.js"></script>
<script src="~/Assets/pages/sites/all/libraries/owl-carousel/owl.carousel.min43ff.js?qo1stt"></script>
<script src="~/Assets/pages/sites/all/modules/facebook_comments_block/js/facebook_comments_block43ff.js?qo1stt"></script>
<script src="~/Assets/pages/sites/all/modules/owlcarousel/includes/js/owlcarousel.settings43ff.js?qo1stt"></script>
<script src="~/Assets/pages/sites/all/themes/bootstrap/js/bootstrap43ff.js?qo1stt"></script>