@model Academy.Models.FeedBackViewModel
@{
    ViewBag.Title = "Tuyển sinh";
    var lstCourses = (List<Academy.Models.CourseViewModel>)ViewBag.ListCourse;
}

<div class="highlighted">
    <div class="container block-about-us">
        <div class="row">
            <div class="col-sm-6">
                <div class="block-about-us-content">
                    <div class="body_caunoi">
                        <p style="text-align: center;">Hãy theo đuổi đam mê, thành công sẽ theo đuổi bạn</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/Gioi-thieu_slogan.jpg" /></div>
        </div>
    </div>
    <div class="region region-highlighted">
        <section id="block-custom-about-us" class="block block-custom node_about_us clearfix">
            <div class="container">
                <h2 class="block-title">Thông tin tuyển sinh năm 2021</h2>
                <div class="block-content">
                    <div class="row content-about-us">
                        <div class="col-sm-12">
                            @foreach (var item in lstCourses)
                            {
                                <h3>@item.Name</h3>
                                <p>
                                    Khóa học: @item.Name<br />
                                    Ngày khai giảng: @String.Format("{0:dd/MM/yyyy}", item.StartDate)<br />
                                    Ngày khai giảng: @String.Format("{0:dd/MM/yyyy}", item.EndDate)<br />
                                    Học phí: @String.Format("{0:#,##0}", item.Price) đ<br />
                                </p>
                            }
                                <ul style="margin-top:40px;">
                                    <li>Lập trình viên Quốc tế (APTECH Certified Computer Professional)</li>
                                    <li>Kỹ thuật viên phần mềm ITT (Information Technology Technican)</li>
                                    <li>Chuyên gia Hệ thống Thông tin &nbsp;ACNA (APTECH Certified Network Administrator)</li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="block-block-10" class="block block-block loi_ich clearfix">
            <div class="container">
                <h2 class="block-title">LỢI ÍCH VƯỢT TRỘI KHÓA LẬP TRÌNH VIÊN QUỐC TẾ</h2>
                <h3>TẠI ĐƠN VỊ ĐÀO TẠO CNTT SỐ 1 VIỆT NAM</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/loi_ich1.png" /></div>
                        <div class="title"> Chương trình đào tạo<br /> <span>theo chuẩn quốc tế</span></div>
                        <div class="des"> Giúp sinh viên có cơ hội tiếp thu, học hỏi lượng kiến thức chất lượng về công nghệ được công nhận tại nhiều quốc gia trên thế giới.</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/loi_ich2.png" /></div>
                        <div class="title"> Thời gian đào tạo ngắn<br /> <span>Chỉ trong 2,5 năm</span></div>
                        <div class="des"> Với thời lượng đào tạo được tối giản chỉ tập trung vào các môn chuyên ngành, sinh viên Aptech sau 2,5 năm học tập đã có thể đi làm ngay.</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/loi_ich3.png" /></div>
                        <div class="title"> Chương trình Liên thông<br /> <span>Đại học Quốc tế</span></div>
                        <div class="des"> Ngoài môi trường giảng dạy quốc tế, chúng tôi còn giúp bạn Liên thông lên các trường ĐH Quốc tế như RMIT, AUT, BROOKES...</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="image_loi_ich"> <img src="~/Assets/pages/sites/all/themes/aptech_news_2/images/loi_ich4.png" /></div>
                        <div class="title"> Sinh viên ra trường<br /> <span>95% có việc làm ngay</span></div>
                        <div class="des"> Aptech thường xuyên liên kết với các doanh nghiệp về Công nghệ Thông tin, cam kết sinh viên ra trường sẽ có việc làm, nơi thực tập phù hợp.</div>
                    </div>
                </div>
            </div>
        </section>

        <section id="block-block-11" class="block block-block button clearfix">
            <div class="container">
                <h2 class="block-title">Bạn có muốn học cùng chuyên gia CNTT hàng đầu?</h2>
                <div class="row">
                    <div class="col-sm-12"><a href="#block-webform-client-block-5352" class="button_i_want">Tôi muốn</a></div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="front_content_1">
    <div class="container">
        <div class="row">
            <div class="region region-front-content-1">
                <section id="block-block-22" class="block block-block col-sm-12 ads clearfix">
                    <div class="block-content">
                        <p><a href="aptechplus.aptech-news.html"></a></p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="front_content_2">
    <div class="region region-front-content-2">
        <section id="block-webform-client-block-5352" class="block block-webform form_register col-sm-12 clearfix">
            <div class="container">
                <h2 class="block-title">ĐĂNG KÝ NHẬN TƯ VẤN TỪ APTECH</h2>
                <h3>Bạn vui lòng điền đầy đủ thông tin và click đăng ký. APTECH sẽ liên lạc với bạn trong thời gian sớm nhất</h3>
                <div class="row">
                    <div id="webform-ajax-wrapper-5352">
                        <form class="webform-client-form webform-client-form-5352" action="/Home/FeedBack" method="post" id="webform-client-form-5352" accept-charset="UTF-8">
                            <div>
                                <div class="form-item webform-component webform-component-textfield webform-component--name"> <label for="edit-submitted-name">Họ và tên <span class="form-required" title="This field is required.">*</span></label>@Html.TextBoxFor(model => model.Name, new { @required = "required", @class = "form-control form-text required", @type = "text", id = "edit-submitted-name", size = "60", maxlength = "128" })</div>
                                <div class="form-item webform-component webform-component-email webform-component--e-mail"> <label for="edit-submitted-e-mail">E-mail <span class="form-required" title="This field is required.">*</span></label> @Html.TextBoxFor(model => model.Email, new { @required = "required", @class = "form-control form-text required", @type = "text", id = "edit-submitted-email", size = "60", maxlength = "128" })</div>
                                <div class="form-item webform-component webform-component-textfield webform-component--phone"> <label for="edit-submitted-phone">Điện thoại <span class="form-required" title="This field is required.">*</span></label> @Html.TextBoxFor(model => model.Phone, new { @required = "required", @class = "form-control form-text required", @type = "number", id = "edit-submitted-email", size = "60", maxlength = "128" })</div>
                                <div class="form-item webform-component webform-component-radios webform-component--location">
                                    <label for="edit-submitted-location">Vị trí <span class="form-required" title="This field is required.">*</span></label>
                                    <div id="edit-submitted-location" class="form-radios">
                                        <div class="form-type-radio form-item-submitted-location form-item radio"> <input required="required" type="radio" id="edit-submitted-location-1" name="submitted[location]" value="1" class="form-radio" /> <label for="edit-submitted-location-1">54 Lê Thanh Nghị, Bách Khoa, Hà Nội </label></div>
                                        <div class="form-type-radio form-item-submitted-location form-item radio"> <input required="required" type="radio" id="edit-submitted-location-2" name="submitted[location]" value="2" class="form-radio" /> <label for="edit-submitted-location-2">285 Đội Cấn, Ba Đình, Hà Nội </label></div>
                                        <div class="form-type-radio form-item-submitted-location form-item radio"> <input required="required" type="radio" id="edit-submitted-location-3" name="submitted[location]" value="3" class="form-radio" /> <label for="edit-submitted-location-3">212-214 Nguyễn Đình Chiểu, Q.3, TPHCM </label></div>
                                    </div>
                                </div>
                                <fieldset class="captcha panel panel-default form-wrapper">

                                    <div class="panel-body">
                                        <div class="form-type-textfield form-item-captcha-response form-item form-group" data-toggle="tooltip" title="Fill in the blank."> <label for="edit-captcha-response">Nhập thông tin cần tư vấn<span class="form-required" title="This field is required.">*</span></label> @Html.TextBoxFor(model => model.Description, new { @class = "form-control form-text", @type = "text", id = "edit-submitted-desc", size = "50", maxlength = "500" })</div>
                                    </div>
                                </fieldset>
                                <button class="webform-submit button-primary btn btn-primary form-submit" value="Submit" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<script src="~/Assets/pages/js/email-decode.min.js"></script>
<script src="~/Assets/pages/sites/all/libraries/owl-carousel/owl.carousel.min43ff.js?qo1stt"></script>
<script src="~/Assets/pages/sites/all/modules/facebook_comments_block/js/facebook_comments_block43ff.js?qo1stt"></script>
<script src="~/Assets/pages/sites/all/modules/owlcarousel/includes/js/owlcarousel.settings43ff.js?qo1stt"></script>
<script src="~/Assets/pages/sites/all/themes/bootstrap/js/bootstrap43ff.js?qo1stt"></script>
