@model Academy.Models.ConfigSystemViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<input type="hidden" id="success" value="@TempData["success"]" />
<input type="hidden" id="info" value="@TempData["info"]" />
<input type="hidden" id="warning" value="@TempData["warning"]" />
<input type="hidden" id="error" value="@TempData["error"]" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cài đặt
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li><a href="#">Cài đặt</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    @ViewData["mesage"]
                    <!-- /.box-header -->
                    <div class="box-body">
                        @using (Html.BeginForm("Index", "ConfigSystem", FormMethod.Post, new { Area = "Admin", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-group">
                                <label for="exampleInputEmail1">Logo</label>
                                @*<input type="file" name="LogoFile" class="form-control" />*@
                                @Html.TextBoxFor(model => model.LogoFile, new { @class = "form-control", @type = "file" })
                                <img src="@Model.Logo" style="max-width:100%;height:80px;" />
                                @Html.ValidationMessageFor(model => model.LogoFile, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Địa chỉ</label>
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                @Html.TextBoxFor(model => model.Infomation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Infomation, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Holine 1</label>
                                @Html.TextBoxFor(model => model.Hotline1, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Hotline1, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Holine 2</label>
                                @Html.TextBoxFor(model => model.Hotline2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Hotline2, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">IdNo</label>
                                @Html.TextBoxFor(model => model.IdNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdNo, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Phone</label>
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Mô tả</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tiêu đề</label>
                                @Html.TextBoxFor(model => model.TitleDefault, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TitleDefault, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-5">
                                    <input type="submit" value="Sửa lại" class="btn btn-success" />
                                </div>
                            </div>
                        }

                        <div>
                            <a class="btn btn-danger" href="@Url.Action("Index", "Home", new { Area = "Admin" })">Trang chủ</a>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


